
@{
    Layout = "_Layout";
}
@model List<TaskProject.Core.Features.Products.Queries.Results.GetProductListResponse>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #e6e6e6;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 16px;
    }
</style>

<h1>Products</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Available Quantity</th>
        <th>Quantity Limit</th>
        <th>Image URL</th>
        <th>Brief Description</th>

    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Availablequantity</td>
            <td>@product.Quantitylimit</td>
            <td>@product.ImageUrl</td>
            <td>@product.briefdescription</td>
        </tr>
    }
</table>

